
@font-face
{
	font-family: "LC Chalk";
	src: url("LC Chalk.ttf");
}
body
{
	padding: 1em 1em 2em 1em;
	background-color: white;
}
img
{
	/* width: 30%; */
	/* margin: 1em; */
	border: 2px solid #eee;
}
.BS
{
	border: 0;
	width: 4em;
}
.note
{
	background-color: lemonchiffon;
}
.magnet
{
	width: 3em;
	margin-bottom: -4em;
	border: 0;
}
main
{
	background-color: #205020;
	border-style: solid;
	border-width: 4em;
	border-image-width: 4em;
	border-image-source: url(frame.png);
	border-image-slice: 100;
	border-image-repeat: stretch;
}
*
{
	color: white;
	font-family: "LC Chalk";
}
p
{
	font-size: 1.2em;
	line-height: 1em;
	white-space: pre-wrap;
}
.marker
{
	width: 26ch;
	height: 4em;
	line-height: 0;
	padding-left: 1em;
	margin-bottom: -1.5em;

	/* background-color: white; */
	border-style: solid;
	border-width: 1em;
	border-image-width: 2em;
	border-image-slice: 100;
	border-image-repeat: stretch;

	cursor: pointer;
}
.marker:hover
{
	text-decoration: underline;
}

.marker-0
{
	border-image-source: url(marker-0.png);
	cursor: default;
	color: #bbb;
}
.marker-0:hover
{
	text-decoration: none;
}

.marker-1
{
	border-image-source: url(marker-1.png);
}

.marker-2
{
	border-image-source: url(marker-2.png);
}

.marker-3
{
	border-image-source: url(marker-3.png);
}

.marker-4
{
	border-image-source: url(marker-4.png);
}

.marker-5
{
	border-image-source: url(marker-5.png);
}

.marker-6
{
	border-image-source: url(marker-6.png);
}

.marker-7
{
	border-image-source: url(marker-7.png);
}
